/* style for the navigation bar */
nav{
  position: fixed;
  top: 0;
  width:  100%;
  overflow: hidden;
  background-color: #ed8173;
}

nav a{
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

nav a:hover, nav a:active{
  background-color: #F8CEC9;
  color: #221F1F;
}

th, td{
  border: solid ;
  border-width: 1px;
  padding: 6px;
  border: 3px solid #ed8173
}

footer{
  width:  100%;
  background: #F8CEC9;
  color: #221F1F;
  padding: 10px;
  font-size: 85%;
  display: flex;
  justify-content: center;
}

html {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  font-family: HK Grotesk, Sans-serif;
  color: #221F1F;
  background-color: #fcfaf6;
}

header h1 {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 0px;
  display: flex;
}

h2 {
  justify-content: center;
  margin-top: 0px;
  display: flex;
}

article {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}


/* Button */
button,
input {
  font-family: inherit;
  font-size: 75%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  padding: 5px;
  border: 2px solid #ed8173
}

