body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1B1B1B;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.wheel {
  position: absolute;
  width: 650px;
  height: 650px;
  border: 3px solid #E2E2E2;
  box-shadow: 0 0 10px #E2E2E2, 0 0 10px #E2E2E2 inset;
  border-radius: 50%;
  transition: transform 5s ease-in-out;
  overflow: hidden;
  animation: spin 35s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes button-path {
  0% { 
    transform: rotate(0) translateX(315px) rotate(0); 
  }
  100% { 
    transform: rotate(360deg) translateX(315px) rotate(-360deg); 
  }
}
.circle-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  animation: button-path 35s linear infinite;
}

.container_2 {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.circle-btn:nth-child(1){
  transform: rotate(0deg) translate(327px) rotate(0deg);
  animation-delay: 0s
}

.circle-btn:nth-child(2){
  transform: rotate(51.4deg) translate(327px) rotate(-51.4deg);
  animation-delay: 5s
}

.circle-btn:nth-child(3){
  transform: rotate(102.8deg) translate(327px) rotate(-102.8deg);
  animation-delay: 10s
}

.circle-btn:nth-child(4){
  transform: rotate(154.2deg) translate(327px) rotate(-154.2deg);
  animation-delay: 15s
}

.circle-btn:nth-child(5){
  transform: rotate(205.6deg) translate(327px) rotate(-205.6deg);
  animation-delay: 20s
}

.circle-btn:nth-child(6){
  transform: rotate(257deg) translate(327px) rotate(-257deg);
  animation-delay: 25s
}

.circle-btn:nth-child(7){
  transform: rotate(308.4deg) translate(327px) rotate(-308.4deg);
  animation-delay: 30s
}

.container_2:hover .circle-btn {
  animation-play-state: paused
}