body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1B1B1B;
  color: #E2E2E2;
  overflow: hidden;
}

.container { /* Main container with wheel and hyperlinks */
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.wheel { /* Edits the wheel and makes it spin. */
  position: absolute;
  width: 650px;
  height: 650px;
  border: 3px solid #E2E2E2;
  box-shadow: 0 0 10px #E2E2E2, 0 0 10px #E2E2E2 inset;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 35s linear infinite; /* makes the wheel spin */
}

@keyframes spin { /* definition of the animation for the wheel */
  from{
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes button-path { /* definition of the animation making the hyperlinks spin with the wheel */
  0% { 
    transform: rotate(0) translateX(325px) rotate(0); 
  }
  100% { 
    transform: rotate(360deg) translateX(325px) rotate(-360deg); /* The rotation makes the images of the hyperlinks stay upright. */
  }
}
.circle-btn { /* Edits the hyperlinks and makes them follow the path of the wheel. */
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  animation: button-path 35s linear infinite;
}

.container_2 { /* Edits the container with the hyperlinks. */
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.triquetra {
  background: url('https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/Untitled%20design%20(4).png?v=1738497995851') no-repeat 0px -20px;
  width: 300px;
  height: 300px;
  background-size: 300px;
}

footer {
  position: fixed;
  bottom: 0; /* puts the footer at the very bottom of the screen */
  right: 0; /* puts the footer at the very right of the screen */
}

/* The rest of the CSS code separates each hyperlink and puts them in the correct position while they are spinning.*/

.circle-btn:nth-child(1){
  animation-delay: 0s;
}

.circle-btn:nth-child(2){
  animation-delay: -5s;
}

.circle-btn:nth-child(3){
  animation-delay: -10s;
}

.circle-btn:nth-child(4){
  animation-delay: -15s;
}

.circle-btn:nth-child(5){
  animation-delay: -20s;
}

.circle-btn:nth-child(6){
  animation-delay: -25s;
}

.circle-btn:nth-child(7){
  animation-delay: -30s;
}

/* sprites */
.mond {
  background: url(https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_191840213.png?v=1733656736483);
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.liyue {
  background: url(https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192149804.png?v=1733656914101);
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.inaz {
  background: url("https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192207221.png?v=1733656928787");
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.sum {
  background: url("https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192219725.png?v=1733656942376");
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.font {
  background: url("https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192230595.png?v=1733656952926");
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.nat {
  background: url("https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192244477.png?v=1733656968994");
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}
.snezh {
  background: url("https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192258652.png?v=1733656981228");
  width: 230px;
  height: 230px;
  background-size: 230px;
  transition: transform 0.3s ease;
}

.mond:hover, .liyue:hover, .inaz:hover, .sum:hover, .font:hover, .nat:hover, .snezh:hover {
  transform: scale(1.3);
}




