body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1B1B1B;
  color: #E2E2E2;
}

.container { /* Adjusts the size of the paragraph container, aligns contents to center, changes background */
  position: relative;
  width: 1700px;
  height: 133px;
  padding: 133px;
  text-align: center;
  align-items: center;
  background: rgba(226, 226, 226, 0.8); /* background color and transparency */
  color: #1B1B1B; /* text color */
  top: 70%;
}

.back {
  position: fixed;
  bottom: 0; /* puts the footer at the very bottom of the screen */
  left: 0; /* puts the footer at the very left of the screen */
}

footer {
  position: fixed;
  bottom: 0; /* puts the footer at the very bottom of the screen */
  right: 0; /* puts the footer at the very right of the screen */
}