<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image-removebg-preview.png?v=1733650974862" />
  <link rel="stylesheet" href="style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>InTeyvat</title>
</head>
  
<body>
  <div class="container">
    <div class="wheel"></div>
      <span style="--i:0,"></span>
      <span style="--i:1,"></span>
      <span style="--i:2,"></span>
      <span style="--i:3,"></span>
      <span style="--i:4,"></span>
  </div>
</body>

</html>
