<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image-removebg-preview.png?v=1733650974862" />
  <link rel="stylesheet" href="style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>InTeyvat</title>
</head>
  
<body>
  <div class="container">
    <div class="wheel"></div>
      <div class="container_2">
    </div>
      <a href="link1" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_191840213.png?v=1733656736483"></img></a>
      <a href="link2" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192149804.png?v=1733656914101"></img></a>
      <a href="link3" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192207221.png?v=1733656928787"></img></a>
      <a href="link4" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192219725.png?v=1733656942376"></img></a>
      <a href="link5" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192230595.png?v=1733656952926"></img></a>
      <a href="link6" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192244477.png?v=1733656968994"></img></a>
      <a href="link7" class="circle-btn"><img src="https://cdn.glitch.global/d2a0865f-fdcf-4240-99d7-ffaf101d988a/image_2024-12-08_192258652.png?v=1733656981228"></img></a>
        
  </div>
</body>

</html>
